# Declare files that will always have CRLF line endings on checkout.
*.bat eol=crlf
*.ps1 eol=crlf
*.txt eol=crlf
*.vbs eol=crlf
*.xml eol=crlf
*.properties eol=crlf
*.sites eol=crlf
*.config eol=crlf
*.h eol=crlf
*.reg eol=crlf
*.cfg eol=crlf
*.ini eol=crlf


# Denote all files that are truly binary and should not be modified.
*.exe binary
